:root {
    --primaryBlue: rgb(236, 185, 82);
    --primaryCyan: rgb(251, 221, 159);
    --neutralDarkMain: #ffffff;
    --neutralDarkCard: #2D2D2D;
    --neutralDarkLine: hsl(215, 32%, 27%);
    --trueNeutral: hsl(0, 0%, 100%);
    --fontOne: 'Outfit', sans-serif;
}
* {
    padding: 0;
    margin:0;
    font-family: 'Outfit';
 
}

.card{
    background-color:var(--neutralDarkCard);
    width: 275px;
    max-height: 340px;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}

.text-container{
    padding: 0.8rem;

}

.image-container{
    position: relative;
    width: 100%;
    height: 200px;
   
}

.image-container:hover{
    opacity: 0.5;
   

}

.img{
   width: 100%;
   height: 100%;
   border-radius: 10px 10px 0px 0px;
   cursor: pointer;
 
   
}

h3{
    color: var(--trueNeutral);
    letter-spacing: 0.1em;
    padding-bottom: 0.8rem;
    padding-top: 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
}


sub{
    color: var(--primaryBlue);
}

h4{
    color: var(--primaryCyan);
}

.profile-icon{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.6rem;
    gap: 5px;
}


/* colour for rent properties card */
.price-days-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var( --primaryPink);
    margin-bottom: 0.8rem;
   padding-bottom: 10px;
    font-weight: 500;
}

.price-days-container > .rent,
.priceRent{
    color: var(--primaryPink);
    letter-spacing: 0.1em;

}

.price-days-container-buy > .buy,
.priceBuy{
    color: var(--primaryBlue);
    letter-spacing: 0.1em;
}
/* colour for buy properties card */
.price-days-container-buy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid var( --primaryBlue);
    margin-bottom: 0.8rem;
    font-weight: 500;
}

.bedrooms-bathrooms{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 0.8rem;
}

.price, 
.days,
.bedrooms,
.bathrooms,
.garden{
    font-family: 'Rightous';
    padding: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 0.8rem;
    font-size: 0.9rem;
}


.icon{
    height: 30px;
}

.meta-company{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba(194, 194, 194, 0.5);
    letter-spacing: 0.2em;
    padding: 6px;
    width: 100%;
    color:white;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.company-logo{
    padding-left: 5px;
    height: 20px;
}



