nav{
    display: flex;
    background-color: var(--neutralDarkCard);
    height: 70px;
    width: 100%;
    position:fixed;
    top: 0px;
  
}

.landing-container{
    display: flex;
    justify-content: center;
    background-color: var(--neutralDarkCard);
    width: 50%;
}

