nav{
    display: flex;
    background-color: white;
    height: 70px;
    width: 100%;
}

.landing-container{
    display: flex;
    justify-content: center;
    background-color: var(--neutralDarkCard);
    width: 50%;
}

.nav-logo{
    height: 140px;
    padding-left: 20px;
   
}