@font-face {
  font-family: 'Patrick Hand';
  src: url('./assets/PatrickHand-Regular.ttf');
}

.grey {
  color: grey;
}

.App{
  height: 100vh;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Patrick Hand';
}

.landing-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: var(--neutralDarkCard);
}

.card-container{
  height: 300px;
  width: 200px;
  font-size: 13px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
}

.card-container img {
  max-width: 100%;
  max-height: 100%;
}

.card-img{
  width: 100%;
  border-radius: 9px;
}

.card-stats{
  display: flex;
  align-items: center;
}

.card-star{
  height: 14px;
}

.price {
  color: red;
}

.price::first-letter {
  color: black;
}


.cardContainer {
  margin-top: 100px;
  width:1200px ;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
 
}

.grid-parent{
  display: flex;
  align-items: center;
  
  justify-content: center;
}