@font-face {

  font-family: 'Rightous';
  src: url('./assets/Righteous-Regular.ttf');
}

:root {
  --primaryBlue: rgb(236, 185, 82);
  --primaryCyan: rgb(251, 221, 159);
  --primaryYellow:  rgb(251, 221, 159);
  --realBlue: #b0dbf0;
  --primaryPink: rgba(243, 204, 224);
  --neutralDarkMain: #ffffff;
  --neutralDarkCard: #2D2D2D;
  --neutralDarkLine: hsl(215, 32%, 27%);
  --trueNeutral: hsl(0, 0%, 100%);
  --fontOne: 'Outfit', sans-serif;
}

.grey {
  color: grey;
}

.App {
  height: 100vh;

 

}

* {
  box-sizing: border-box;
 
  
}

body {
  margin: 0; 
}

.landing-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 210px;
  width: 100%;
  background-color: var(--neutralDarkCard);
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  padding: 10px 30px;
}

.nav--logo {
  max-width: 100px;
}

.landing-section {
  background-color: aqua;
  height: 500px;
}

.landing-image {
  background-image: url("./assets/Untitled\ \(7000\ ×\ 3402px\)\ \(1\).gif");
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7ede6;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.landing-title {
  margin-bottom: 15px;
}

.landing-text {
  margin-top: 0;
}

.card-container {
  height: 300px;
  width: 200px;
  font-size: 13px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
}

.card-container img {
  max-width: 100%;
  max-height: 100%;
}

.card-img {
  width: 100%;
  border-radius: 9px;
}

.card-stats {
  display: flex;
  align-items: center;
}


h3,
button,
p,
span{
  font-family: 'Rightous';
}

.landing-container {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 25px;
  flex-direction: column;
  background-color: rgba(236, 255, 254, 0.7);
  height: 50%;
  width: 40%;
}

.logo-name {
  color: rgb(12, 48, 61);
  font-size: 25px;
}

.cardContainer {
  margin-top: 100px;
  width:1300px ;
  display: grid;
  grid-template-columns: auto auto auto auto;
 row-gap: 40px;
 
}

.grid-parent{
  display: flex;
  align-items: center;
  justify-content: center;
}

 

.displayContainer {
  display: flex;
  justify-content: center;
}

/* ******* Pop ups for properties ***** 
***************************************/
#modal {
  
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}



@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);

#pop-up-card {
 
  font-family: "Raleway";
  width: 60%;
  max-height: 70%;
  position: absolute;
  background: white;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}

#pop-up-card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pop-up-navigation {
  width: 100%;
  color: #727272;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 2px solid #efefef;
  font-size: 12px;
}

#heart {
  height: 24px;
  width: 24px;
  float: right;
  margin-top: -3px;
  transition: all 0.3s ease;
  cursor: pointer;
  fill:  #727272;
 
}

#heart:hover {
  fill: red;
}

#arrow {
  float: left;
  margin-top: -3px;
  fill: #727272;
  height: 24;
  width: 24;
  margin-right: 10px;
  font-size: large;
}

#pop-up-image {
  padding: 30px;
  width: 45%;
  text-align: center;
  float: left;
  max-height: 400px;
 
}

#pop-up-description {
  padding: 30px;
  font-family: "Raleway";
  float: left;
  width: 55%;
  border-left: 2px solid #efefef;
}
#pop-up-description-h1 {
  color: #515151;
  font-weight: 300;
  padding-top: 15px;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

#pop-up-description-h2 {
  color: #515151;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

#pop-up-description-h4 {
  margin: 0;
  color: #727272;
  
  font-weight: 500;
  font-size: 12px;
}

#pop-up-description-p {
  font-size: 12px;
  line-height: 20px;
  color: #727272;
  padding: 20px 0;
  margin: 0;
}

#pop-up-button {
  outline: 0;
  border: 0;
  background: none;
  border: 1px solid #d9d9d9;
  padding: 8px 0px;
  margin-bottom: 30px;
  color: #515151;
  text-transform: uppercase;
  width: 125px;
  font-family: inherit;
  margin-right: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}

#pop-up-button:hover {
  background: darken(white, 2%);
  border: 1px solid #aedaa6;
  color: #aedaa6;
  cursor: pointer;
}

